/*SOME ADDITIONAL NOTES:
1. To override existing CSS values, use !important.
Ex: a { text-decoration: none !important; } (This will flush all the existing text-decoration properties on the element.)
*/

/*GENERAL*/
body { background-color: #1a1b1c; font-family: "Open Sans"; }
h1, h2 { font-weight: 700; text-transform: uppercase; }
h3, h4, h5, h6, p, label { font-weight: 400; }
h5 { line-height: 1.5em; margin: 0; }
a, button { text-decoration: none !important; outline: none !important; }

/*HEADER*/
header { background-color: #1a1b1c; }
header .navbar-nav .nav-link { color: #c2c2c2 !important; font-size: 16px; text-transform: uppercase; font-weight: 600; }
header .navbar-nav .nav-link:hover { color: #ffff !important; }

/*CONTENT*/

main .icon-gray { color: #c2c2c2; }
main .icon-white { color: #000; }
main .section-heading h2 { color: #ffff; }
main .section-heading h5 { color: #c2c2c2; margin: 0 auto; line-height: 1.5em; max-width: 540px; }

main #section-banner { background-image:url("C:/Users/OB NEW/Desktop/Web Development/FEWD/CS5/portfolio5/images/banner-image.jpg"); background-repeat: no-repeat; background-size: cover; background-position: center center; position: relative; }
main #section-banner .section-content { position: absolute; top: 40%; transform: translateY(-40%); }
main #section-banner h1 { color: #ffff; margin-bottom: 20px; }
main #section-banner h5 { color: #c2c2c2; margin-bottom: 12px; }

main #section-featured1 .content-text.text-right { padding: 80px 100px 0 25px; }
main #section-featured1 .content-text.text-left { padding: 80px 25px 0 100px; }
main #section-featured1 .content-text h3 { color: #ffff; font-weight: 400; margin-top: 0; margin-bottom: 10px; }
main #section-featured1 .content-text p { font-weight: 400; color: #c2c2c2; line-height: 1.7em; margin-top: 0; margin-bottom: 20px; }
main #section-featured1 .content-text a { background-color: #000; color: #fff; text-align: center; padding: 10px 30px; border-radius: 25px; }
main #section-featured1 .content-text a:hover { color: #000; background-color: #fff; }

main #section-featured2 { background-color: #ffff; }
main #section-featured2 h2 { color: #000; }
main #section-featured2 h5 { color: #000; }
main #section-featured2 h4 { color: #000; }
main #section-featured2 h3 { color: #ffff; }
main #section-featured2 p { color: #ffff; }
main #section-featured2 th, td { color: #ffff; }


main #section-featured3 p { color: #c2c2c2; line-height: 1.5em; }
main #section-featured3 h3 { color: #ffff; }
main #section-featured3 p { color: #ffff; }
main #section-featured3 th, td { color: #ffff; }

main #section-featured5 h3 { color: #ffff; line-height: 1.3em; }
main #section-featured5 p { color: #c2c2c2; line-height: 1.5em; }
main #section-featured5 a { color: #c2c2c2; }
main #section-featured5 a:hover { color: #ffff; }

main #section-featured6 .section-blue { background-color: #000; }
main #section-featured6 .section-gray { background-color: #ffff; }
main #section-featured6 .section-blue h3 { color: #ffff; margin-top: 0; }
main #section-featured6 .section-blue .form-group label { color: #c2c2c2; letter-spacing: 0.5px; }
main #section-featured6 .section-blue .form-group input, main #section-featured6 .section-blue .form-group textarea { color: #333333; font-weight: 400; letter-spacing: 0.5px; background-color: #fff; border: 0; width: 100%; }
main #section-featured6 .section-blue input[type="submit"] { color: #fff; font-weight: 400; letter-spacing: 0.5px; background-color: #282828; border: 0; border-radius: 25px; }
main #section-featured6 .section-blue input[type="submit"]:hover { background-color: #fff; color: #282828; }

main #section-featured6 .section-gray h2 { color: #000; font-weight: 700; margin: 25px 0 5px; }
main #section-featured6 .section-gray .section-content { max-width: 260px; margin: 0 auto; }
main #section-featured6 .section-gray h6 { color: #000; margin: 0 0 10px; }
main #section-featured6 .section-gray p, main #section-featured6 .section-gray a { color: #c2c2c2; line-height: 1.5em; margin: 0 0 20px; }
main #section-featured6 .section-gray a:hover { color: #69c3c4; }

/*FOOTER*/
footer .dot-blue { color: #ffff; }

footer #footer-about { background-color: #0000; }
footer #footer-about h6 { color: #c2c2c2; }
footer #footer-about p { color: #c2c2c2; line-height: 1.7em; }
footer #footer-about ul { list-style: none; padding: 0; margin: 0; }
footer #footer-about a { color: #c2c2c2; line-height: 2em; }
footer #footer-about a:hover { color: #ffff; }

footer #footer-copyright { background-color: #111; }
footer #footer-copyright p { color: #fff; }
footer #footer-copyright ul { margin: 0; }
footer #footer-copyright a { color: #95a5a6; text-decoration: none; }
footer #footer-copyright a:hover { color: #fff; }

/*CHANGE THEME JS-HTML DOM*/
.theme-light main .icon-gray { color: black; }


/*RESPONSIVE*/
/*Extra Small Devices*/
@media (max-width: 576px) {
	/*GENERAL*/
	h1 { font-size: 34px; }
	h2 { font-size: 26px; }
	h3 { font-size: 22px; }
	h4 { font-size: 18px; }
	h5 { font-size: 16px; }
	h6 { font-size: 16px; }
	p, a, label { font-size: 14px; }
	tr,td { font-size: 12px; }

	header { padding: 0; }
	header .navbar-nav { padding-top: 10px; }
	header .navbar-nav .nav-link { padding-top: 10px; padding-bottom: 10px; }

	main .custom-padding { padding: 35px 0; }
	main .section-heading { padding-bottom: 30px; }
	main .section-heading h2 { margin: 15px 0 10px; }
	main .fas.fa-laptop-code { font-size: 24px; }

	main #section-banner { height: 300px; background-position: 70% center; }
	main #section-banner h1 { max-width: 320px; }
	main #section-banner h5 { max-width: 300px; }

	main #section-featured1 .content-text { margin: 25px auto 25px; text-align: center; }

	main #section-featured2 h4 { padding: 0; margin: 10px 0; }
	main #section-featured2 p { padding: 0; margin-bottom: 40px; }
	main #section-featured2 .col-8:last-child p { margin-bottom: 20px; }

	main #section-featured3 p { font-size: 14px; margin: 0 0 25px; padding: 0; }

	main #section-featured4 .section-heading { padding-bottom: 20px; }

	main #section-featured5 h4 { margin: 10px 0; }
	main #section-featured5 p { margin-bottom: 5px; }

	main #section-featured5 .col-12.col-md-6:nth-child(2) .content-image { margin-top: 30px; }
	main #section-featured5 .row.no-gutters:nth-child(2) .col-12.col-md-6:first-child .content-image { margin-top: 30px; }
	main #section-featured5 .content-text { max-width: unset; }

	main #section-featured6 .section-box { padding: 35px 20px; }
	main #section-featured6 .section-blue h3 { margin-bottom: 30px; }

	main #section-featured6 .section-blue .form-group input, main #section-featured6 .section-blue .form-group textarea { font-size: 14px; padding: 10px 5px; }
	main #section-featured6 .section-blue input[type="submit"] { font-size: 14px; padding: 10px 25px; }

	footer #footer-about { padding: 30px 15px 35px; text-align: center; }
	footer #footer-about h6 { margin: 25px auto 10px; }
	footer #footer-about p { margin: 0 auto; max-width: unset; }
	footer #footer-about .social-icons li { margin: 5px 10px 0; }
	footer #footer-copyright { padding: 20px 0; }
	footer #footer-copyright p { font-size: 12px; margin-bottom: 5px; }
	footer #footer-copyright a { font-size: 12px; }
}

/*Small Devices*/
@media (min-width: 576px) {
	/*GENERAL*/
	h1 { font-size: 50px; }
	h2 { font-size: 26px; }
	h3 { font-size: 20px; }
	h4 { font-size: 18px; }
	h5 { font-size: 16px; }
	h6 { font-size: 16px; }
	p, label, a { font-size: 14px; }

	header { padding: 10px 0; }

	main .custom-padding { padding: 40px 0; }
	main .fas.fa-laptop-code { font-size: 28px; }

	main .section-heading { padding-bottom: 35px; }
	main .section-heading h2 { margin: 15px 0 5px; }

	main #section-banner { height: 420px; background-position: center center; }
	main #section-banner h1 { max-width: 470px; }
	main #section-banner h5 { max-width: 425px; }

	main #section-featured1 .row:nth-child(2) { margin-top: 35px; margin-bottom: 35px; }
	main #section-featured1 .content-text { margin: 0 auto; }

	main #section-featured2 h4 { padding: 0; margin: 10px 0; }
	main #section-featured2 p { margin: 0; }

	main #section-featured3 p { font-size: 14px; margin: 0 0 15px; }
	main #section-featured3 p:first-child { margin-top: 0; }
	main #section-featured3 p:last-child { margin-bottom: 20px; }

	main #section-featured4 .section-heading { padding-bottom: 20px; }

	main #section-featured5 .row.no-gutters { margin-bottom: 0; }
	main #section-featured5 .row.no-gutters .row { margin-bottom: 30px; }
	main #section-featured5 .col-12.col-md-6:nth-child(2) .content-image { margin-top: unset; }
	main #section-featured5 .row.no-gutters:nth-child(2) .col-12.col-md-6:first-child .content-image { margin-top: unset; }
	main #section-featured5 h4 { margin: 0 0 10px; }
	main #section-featured5 p { margin-bottom: 5px; }

	main #section-featured6 .section-box { padding: 25px; }
	main #section-featured6 .section-blue h3 { margin-bottom: 15px; }
	main #section-featured6 .section-blue .form-group input, main #section-featured6 .section-blue .form-group textarea { font-size: 14px; padding: 10px 5px; }
	main #section-featured6 .section-blue input[type="submit"] { font-size: 14px; padding: 10px 25px; }
	main #section-featured6 .section-gray .section-box { padding-top: 100px; }

	footer #footer-about { padding: 50px 0; text-align: left; }
	footer #footer-about h6 { margin: 25px auto 10px; }
	footer #footer-about p { max-width: 320px; margin-bottom: 0; }
	footer #footer-about .social-icons li { margin: 0 13px 0 0; }
	footer #footer-copyright { padding: 20px 0; }
	footer #footer-copyright p { font-size: 12px; margin: 0; }
	footer #footer-copyright a { font-size: 12px; padding-left: 10px; vertical-align: top; }
}

/*Medium Devices*/
@media (min-width: 768px) {
	h1 { font-size: 55px; }
	h2 { font-size: 30px; }
	h3 { font-size: 24px; }
	h4 { font-size: 20px; }
	h5 { font-size: 18px; }
	h6 { font-size: 18px; }
	p, label, a { font-size: 16px; }

	header .navbar-nav .nav-link { padding-left: 10px !important; }

	main .custom-padding { padding: 50px 0; }
	main .fas.fa-laptop-code { font-size: 32px; }

	main .section-heading { padding-bottom: 50px; }
	main .section-heading h2 { margin: 15px 0 5px; }

	main #section-banner { height: 500px; }
	main #section-banner h1 { max-width: 600px; }
	main #section-banner h5 { max-width: 480px; }

	main #section-featured1 .content-text h3 { font-size: 28px; }
	main #section-featured1 .content-text p { font-size: 16px; }

	main #section-featured2 h4 { padding: 0; margin: 20px 0 15px; }
	main #section-featured2 p { padding: 0; line-height: 1.7em; }

	main #section-featured3 p { font-size: 16px; line-height: 1.5em; margin: 0 0 15px; padding-right: 10px; }
	main #section-featured3 p:first-child { margin-top: 0; }
	main #section-featured3 p:last-child { margin-bottom: 0; }

	main #section-featured4 .section-heading { padding-bottom: 25px; }

	main #section-featured5 .row.no-gutters { margin-bottom: 10px; }
	main #section-featured5 .content-text { max-width: 290px; }
	main #section-featured5 h4 { margin-top: 10px; margin-bottom: 5px; }
	main #section-featured5 p { margin: 0 0 10px; }

	main #section-featured6 .section-box { padding: 50px; }
	main #section-featured6 .section-blue input[type="submit"] { font-size: 16px; }

	footer #footer-about h6 { margin: 0 0 20px; }
	footer #footer-about p { max-width: 320px; }
	footer #footer-about .social-icons li { margin-right: 15px; }
	footer #footer-copyright p { font-size: 14px; margin: 0; }
	footer #footer-copyright a { font-size: 14px; padding-left: 25px; }
}

/*Large Devices*/
@media (min-width: 992px) {
	h1 { font-size: 64px; }
	h2 { font-size: 32px; }
	h3 { font-size: 28px; }
	h4 { font-size: 22px; }

	header .navbar-nav .nav-link { padding-left: 35px !important; }

	main .custom-padding { padding: 60px 0; }

	main .section-heading { padding-bottom: 60px; }
	main .section-heading h2 { margin: 15px 0 5px; }

	main #section-banner { height: 600px; }

	main #section-featured1 .row:nth-child(2) { margin-top: unset; margin-bottom: unset; }
	main #section-featured1 .content-text.text-sm-right { padding: 40px 80px 0 25px; }
	main #section-featured1 .content-text.text-sm-left { padding: 40px 25px 0 80px; }

	main #section-featured2 h4 { padding: 0; margin: 35px 0 20px; }
	main #section-featured2 p { padding: 0; }

	main #section-featured3 p { font-size: 18px; margin: 0 0 30px; }

	main #section-featured4 .section-heading { padding-bottom: 40px; }

	main #section-featured5 .row.no-gutters { margin-bottom: 20px; }
	main #section-featured5 h4 { margin-top: 0; margin-bottom: 15px; }
	main #section-featured5 p { margin: 0 0 15px; }

	main #section-featured6 .section-blue h3 { margin-top: 0; }
	main #section-featured6 .section-blue .form-group input, main #section-featured6 .section-blue .form-group textarea { font-size: 16px; padding: 12px 5px; }
	main #section-featured6 .section-blue input[type="submit"] { font-size: 16px; padding: 12px 25px; }
	main #section-featured6 .section-gray .section-box { padding-top: 100px; }
}

/*Extra-Large Devices*/
@media (min-width: 1200px) {
	main .custom-padding { padding: 75px 0; }

	main .section-heading { padding-bottom: 75px; }
	main .section-heading h2 { margin: 15px 0 5px; }

	main #section-banner { height: 720px; }

	main #section-featured1 .content-text.text-sm-right { padding: 80px 100px 0 25px; }
	main #section-featured1 .content-text.text-sm-left { padding: 80px 25px 0 100px; }

	main #section-featured2 h4 { padding: 0 15px; }
	main #section-featured2 p { padding: 0 15px;}

	main #section-featured3 p { font-size: 20px; }
	main #section-featured3 p:first-child { margin-top: 15px; }
	main #section-featured3 p:last-child { margin-bottom: 15px; }

	main #section-featured5 .row.no-gutters { margin-bottom: 50px; }
	main #section-featured5 .content-text { max-width: 320px; }
	main #section-featured5 p { margin: 0 0 30px; }

	main #section-featured6 .section-box { padding: 100px 50px; }
	main #section-featured6 .section-blue h3 { margin-bottom: 50px; }
	main #section-featured6 .section-gray .section-box { padding-top: 165px; }

	footer #footer-about { padding: 120px 0 150px; }
	footer #footer-copyright { padding: 35px 0; }
}

/*Other Devices*/
@media (min-width: 1600px) {
	.wrap { max-width: 1590px; }
}
